VITE_FIREBASE_API_KEY=AIzaSyCSIwxcdU2x5g8BhNLUckWoNFU7uWSHU94
VITE_FIREBASE_AUTH_DOMAIN=sehwa-health-portal-v2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sehwa-health-portal-v2
VITE_FIREBASE_STORAGE_BUCKET=sehwa-health-portal-v2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=30487759503
VITE_FIREBASE_APP_ID=1:30487759503:web:c97b1169e3bc2318647efa
FIREBASE_SERVICE_ACCOUNT_PATH=
FAQ_SOURCE_SPREADSHEET_ID=1ZCsztyIDuvcTzGdE4zZvexJmLuz8aNIIiuGuSyIBwbs
FAQ_SOURCE_JSON_PATH=
CHECKUPS_SOURCE_SPREADSHEET_ID=1ZCsztyIDuvcTzGdE4zZvexJmLuz8aNIIiuGuSyIBwbs
CHECKUPS_SOURCE_JSON_PATH=
EDUCATION_SOURCE_SPREADSHEET_ID=1ZCsztyIDuvcTzGdE4zZvexJmLuz8aNIIiuGuSyIBwbs
EDUCATION_SOURCE_JSON_PATH=
ANNOUNCEMENTS_SOURCE_SPREADSHEET_ID=1ZCsztyIDuvcTzGdE4zZvexJmLuz8aNIIiuGuSyIBwbs
ANNOUNCEMENTS_SOURCE_JSON_PATH=
SUBMISSION_ITEMS_SOURCE_SPREADSHEET_ID=1ZCsztyIDuvcTzGdE4zZvexJmLuz8aNIIiuGuSyIBwbs
SUBMISSION_ITEMS_SOURCE_JSON_PATH=
